.hash-container {
    text-align: center;
}

.hash-header {
    background-color: #7309eb;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.form-group {
    flex-direction: column;
    align-items: baseline;
}

.file-group {
    margin-top: 10vh;
}

.submit-button {
    margin-top: 10vh;
}

.select-group {
    margin-top: 10vh;
}

.error-text {
    color: red !important;
}